<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список вакансий</title>
    <meta charset="UTF-8">
</head>
<body>

<div class="container">
    <h1>Список вакансий</h1>

    <div class="button-container">
        <a href="/" class="button back-button">← Вернуться к поиску</a>
        <a th:href="@{/vacancies(refresh=true, language=${selectedLanguage}, city=${selectedCity}, withSalary=${withSalary})}"
           class="button refresh-button">Обновить данные</a>
    </div>

    <form method="get" th:action="@{/vacancies}" style="margin-bottom: 20px;" th:if="${withSalary}">
        <input type="hidden" name="language" th:value="${selectedLanguage}">
        <input type="hidden" name="city" th:value="${selectedCity}">
        <input type="hidden" name="withSalary" th:value="${withSalary}">
        <button type="submit" name="sort" value="salaryAsc">Сортировать по зарплате ↑</button>
        <button type="submit" name="sort" value="salaryDesc">Сортировать по зарплате ↓</button>
    </form>

    <div th:if="${#lists.isEmpty(vacancies)}" class="no-vacancies">
        Вакансии не найдены
    </div>

    <ul class="vacancy-list" th:unless="${#lists.isEmpty(vacancies)}">
        <li th:each="vacancy : ${vacancies}" class="vacancy-item">
            <a th:href="${vacancy.link}" class="vacancy-title" target="_blank" th:text="${vacancy.title}">Вакансия</a>

            <div class="vacancy-details">
                <span th:if="${vacancy.salaryFrom != null || vacancy.salaryTo != null}" class="vacancy-salary">
                    <span th:if="${vacancy.salaryFrom != null}" th:text="${vacancy.salaryFrom}"></span>
                    <span th:if="${vacancy.salaryTo != null}"> - <span th:text="${vacancy.salaryTo}"></span></span>
                </span>
                <span th:if="${vacancy.salaryFrom == null && vacancy.salaryTo == null}">Зарплата не указана</span>
            </div>

            <div class="vacancy-details" th:text="${vacancy.company}">Работодатель</div>

            <div class="vacancy-details" th:text="${vacancy.city}">Город</div>

            <div class="vacancy-section" th:if="${not #strings.isEmpty(vacancy.requirement)}">

                <h3>Требования:</h3>
                <div class="vacancy-text" th:text="${vacancy.requirement}">Требования</div>
            </div>
            <div class="vacancy-section" th:if="${not #strings.isEmpty(vacancy.responsibility)}">
                <h3>Обязанности:</h3>
                <div class="vacancy-text" th:text="${vacancy.responsibility}">Обязанности</div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>